
<!-- <title>HandsToServe</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="/css/home.css">

<div class="w3-top">
 <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
   <a href="/" class="w3-bar-item w3-button">Hands To Serve</a>
  
   <div class="w3-right w3-hide-small">
     <a href="/about" class="w3-bar-item w3-button">About</a>
     <a href="/register" class="w3-bar-item w3-button">Login</a>
     <a href="#" class="w3-bar-item w3-button">Donor</a>
     <a href="#" class="w3-bar-item w3-button">Recipient</a>
     <a href="#" class="w3-bar-item w3-button">Contact</a>
   </div>
 </div>
</div> -->
<head>
  <link href="/img/favicon.ico" rel="icon">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  
  <!-- CSS Libraries -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="/lib/flaticon/font/flaticon.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  
  <!-- Template Stylesheet -->
  <link href="/css/style.css" rel="stylesheet">
</head>


<div class="top-bar d-none d-md-block">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="top-bar-left">
                  <div class="text">
                      <i class="fa fa-phone-alt"></i>
                      <p>+123 456 7890</p>
                  </div>
                  <div class="text">
                      <i class="fa fa-envelope"></i>
                      <p>HTS@geemail.com</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="top-bar-right">
                  <div class="social">
                      <a href=""><i class="fab fa-twitter"></i></a>
                      <a href=""><i class="fab fa-facebook-f"></i></a>
                      <a href=""><i class="fab fa-linkedin-in"></i></a>
                      <a href=""><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Top Bar End -->

<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
      <a href="/" class="navbar-brand">HandsToServe</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
          <a href="/" class="nav-item nav-link active">Home</a>
          <a href="/about" class="nav-item nav-link">About</a>
          <a href="/register" class="nav-item nav-link">Login/Sign-up</a>
          
          <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
              <div class="dropdown-menu">
                <a href="/service" class="dropdown-item">Detail Page</a>
                  <!-- <a href="#" class="dropdown-item">What We Do</a> -->
                  <a href="#" class="dropdown-item">Meet The Team</a>
                  <a href="/donor" class="dropdown-item">Donate Now</a>
                  <a href="/recipient" class="dropdown-item">Find a Donor</a>
              </div>
          </div>
          <a href="/contact" class="nav-item nav-link">Contact</a>
          <%if(locals.sess){%>
            <a href="/account" class="nav-item nav-link">Account</a>
            <a href="/logout" class="nav-item nav-link">Logout</a>
          <%}%>
      </div>
      </div>
  </div>
</div>
<!-- Nav Bar End -->
<!-- Page Header Start -->
<div class="page-header">
  <div class="container">
      <div class="row">
          <!-- <div class="col-12">
              <h2>Donate Now</h2>
          </div> -->
          <!-- <div class="col-12">
              <a href="">Home</a>
              <a href="">Donate</a>
          </div> -->
      </div>
  </div>
</div>
<!-- Page Header End -->