

<%- include("header")-%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <!-- Single Post Start-->
        <div class="single">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="single-content">
                            <img src="img/causes-1.jpg" />
                            <h2>India & Food Wastage</h2>
                            <p>
                                In India, the household food waste estimate is 50 kg per capita per year, or 68,760,163 tonnes a year.
                            </p>
                            <p>
                                An estimated 931 million tonnes of food were wasted globally in 2019, enough to circle the Earth seven times, according to a UN report which said that household food waste in India is about 68.7 million tonnes a year.
                            </p>
                            <p>
                                The Food Waste Index Report 2021, from the United Nations Environment Programme (UNEP) and partner organisation WRAP, said that around 931 million tonnes of food waste was generated in 2019, sixty-one per cent of which came from households, 26 per cent from food service and 13 per cent from retail.
                            </p>
                            <h3>What can you do?</h3>
                            <p>
                                We waste as much food as the whole of United Kingdom consumes – a statistic that may not so much indicative of our love of surfeit, as it is of our population. Still, food wastage is an alarming issue in India. Our street and garbage bins, landfills have sufficient proof to prove it.
                            </p>
                            <p>
                                Weddings, canteens, hotels, social and family functions, households spew out so much food. According to the United Nations Development Programme, up to 40% of the food produced in India is wasted. About 21 million tonnes of wheat are wasted in India and 50% of all food across the world meets the same fate and never reaches the needy. In fact, according to the agriculture ministry, INR 50,000 crores worth of food produced is wasted every year in the country.
                            </p>
                            <p>Plan out your meal and make your shopping list to determine what you actually need for the week. About 20% of what we buy in urban India ends up being thrown away.  You could in the week after cut down on the surplus and soon in two or three weeks you will have a precise list of your family’s weekly consumption. You have no idea how amazed you will be at how much you buy and what you actually consume. Needless to say that the difference is but naturally wasted.</p>
                            <h4>Our Aim</h4>
                            <p>
                                The sharp increase in the amount of wastage in terms of food, clothes, books, etc. makes the need for
charity in terms of donation.  Presenting ‘HandsToServe’, a new internet-based application that provides a
platform for donating old stuff and leftover food to all needy people/organizations. It provides information about the
motivation to come up with such an application, thereby describing the existing donation system and how the
proposed product works for the betterment of society. The product is shown to be an effective means of donating
things to organizations, etc. over the internet. It shows the potential for avoiding the wastage of food, clothes, books
and the other stuff.
                            </p>
                            <p>
                                In proposed system we are reduce that food wastage using an application. This project is food
                                redistribution is an enormously successful social innovation that tackles food waste and food poverty. The donor
                                posts regarding a donation then provides their details. Recipient on clicking claim,an alert is generated to the donor through email thus reducing
                                food wastage problem.
                            </p>
                            <p>
                                This message will be shown as notification. This message will be stored in
                                backend in the database. Once a claim is generated, the donors can reply to the 
                                
                                Recipient and make the donation. The user interface of this system will be simple and user-friendly, and the targeted
                                system is website.
                            </p>
                        </div>
                        
                        <div class="single-bio">
                            <div class="single-bio-img">
                               
                            </div>
                            <div class="single-bio-text">
                                
                              
                            </div>
                        </div>
                        <div class="single-related">
                            <h2>Related Post</h2>
                            <div class="owl-carousel related-slider">
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="img/post-1.jpg" />
                                    </div>
                                    <div class="post-text">
                                        <a href="https://www.frontiersin.org/articles/10.3389/fsufs.2019.00123/full">Food Wastage In Rural Areas</a>
                                        <div class="post-meta">
                                            <p>by Admin</a></p>
                                            <p>at HandsToServe</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="img/post-2.jpg" />
                                    </div>
                                    <div class="post-text">
                                        <a href="https://www.indiatoday.in/india/story/india-grows-more-food-wastes-more-while-more-go-hungry-1752107-2020-12-22">Reports On Hunger</a>
                                        <div class="post-meta">
                                            <p>by Admin</a></p>
                                            <p>at HandsToServe</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="img/post-3.jpg" />
                                    </div>
                                    <div class="post-text">
                                        <a href="https://www.unicef.org/india/what-we-do/care-severely-wasted-children">Effect Of Food Waste On Children</a>
                                        <div class="post-meta">
                                            <p>by Admin</a></p>
                                            <p> at HandsToServe</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-item">
                                    <div class="post-img">
                                        
                                    </div>
                                    <div class="post-text">
                                        
                                        <div class="post-meta">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-comment">
                            <h2>Discussions</h2>
                            <ul class="comment-list">
                                <li class="comment-item">
                                    <div class="comment-body">
                                        <div class="comment-img">
                                            <img src="img/us.jpg" />
                                        </div>
                                        <div class="comment-text">
                                            <h3><a href="">Admin</a></h3>
                                            <span>01 Jan 2018 at 1:00pm</span>
                                            <p>
                                                How are you helping people out India? How many donations have you made?
                                            </p>
                                            <button class="btn btn-group-toggle">Reply</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment-item">
                                    <div class="comment-body">
                                        <div class="comment-img">
                                            <img src="img/user.jpg" />
                                        </div>
                                        <div class="comment-text">
                                            <h3><a href="">Admin</a></h3>
                                            <p><span>01 Jan 2017 at 12:00pm</span></p>
                                            <p>
                                                How are you helping people?
                                            </p>
                                            <button class="btn btn-group-toggle">Reply</button>
                                        </div>
                                    </div>
                                    <!-- <ul class="comment-child">
                                        <li class="comment-item">
                                            <div class="comment-body">
                                                <div class="comment-img">
                                                    <img src="" />
                                                </div>
                                                <div class="comment-text">
                                                    <h3><a href=""></a></h3>
                                                    <p><span></span></p>
                                                    <p>
                                                         
                                                    </p>
                                                   
                                                </div>
                                            </div>
                                        </li>
                                    </ul> -->
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="comment-form">
                            <h2>Leave a comment</h2>
                            <form>
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="url" class="form-control" id="website">
                                </div>

                                <div class="form-group">
                                    <label for="message">Message *</label>
                                    <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post Comment" class="btn btn-custom">
                                </div>
                            </form>
                        </div> -->
                    </div>

                    <div class="col-lg-4">
                        <div class="sidebar">
                            <!-- <div class="sidebar-widget">
                                <div class="search-widget">
                                    <form>
                                        <input class="form-control" type="text" placeholder="Search Keyword">
                                        <button class="btn"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div> -->

                            <div class="sidebar-widget">
                                <h2 class="widget-title">Recent Post</h2>
                                <div class="recent-post">
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="img/post-1.jpg" />
                                        </div>
                                        <div class="post-text">
                                            <a href="https://www.unicef.org/india/what-we-do/care-severely-wasted-children">Click Here!</a>
                                            <div class="post-meta">
                                                <p>By Admin</a></p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="img/post-2.jpg" />
                                        </div>
                                        <div class="post-text">
                                            <a href="https://wedocs.unep.org/bitstream/handle/20.500.11822/35280/FoodWaste.pdf">Click Here!</a>
                                            <div class="post-meta">
                                                <p>By Admin</a></p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="img/post-3.jpg" />
                                        </div>
                                        <div class="post-text">
                                            <a href="https://www.drishtiias.com/daily-updates/daily-news-editorials/food-wastage-issue">Click Here!</a>
                                            <div class="post-meta">
                                                <p>By Admin</a></p>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item">
                                        <div class="post-img">
                                            
                                        </div>
                                        <div class="post-text">
                                            
                                            <div class="post-meta">
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item">
                                        <div class="post-img">
                                            
                                        </div>
                                        <div class="post-text">
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            

                            <div class="sidebar-widget">
                                <div class="tab-post">
                                    <!-- <ul class="nav nav-pills nav-justified">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="pill" href="#featured">Featured</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#popular">Popular</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#latest">Latest</a>
                                        </li>
                                    </ul> -->
                                    <h3>Featured</h3>
                                    <div class="tab-content">
                                        <div id="featured" class="container tab-pane active">
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="img/post-1.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="https://www.yourarticlelibrary.com/foods/food-crises-4-ways-to-solve-the-problems-of-food-crises-in-india/12342">Solving food problems</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <!-- <p>In<a href="">Web Design</a></p> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="img/post-2.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="https://www.giveindia.org/blog/10-ngos-battling-hunger-through-mid-day-meal-in-india/">Child fighting starvation</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <!-- <p>In<a href="">Web Design</a></p> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="img/post-3.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="https://www.hindustantimes.com/analysis/fighting-hunger-is-india-s-greatest-challenge/story-1UBa5bIKbS094GpXnKQIAI.html">Fixing hunger in rural areas.</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <!-- <p>In<a href="">Web Design</a></p> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                  
                                                </div>
                                                <div class="post-text">
                                                   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                    
                                                </div>
                                                <div class="post-text">
                                                   
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                     
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <div class="image-widget">
                                    <a href="#">
                                </div>
                            </div>

                            <div class="sidebar-widget">
                               
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <div class="image-widget">
                                    <a href="#">
                                </div>
                            </div>

                           

                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    

    
</body>
<%- include("footer")-%>
</html>
